@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"),
    url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("woff"),
    url("../assets/fonts/Inter-Regular.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Inter-Medium"),
    url("../assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("../assets/fonts/Inter-Medium.woff") format("woff"),
    url("../assets/fonts/Inter-Medium.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Inter-Bold"),
    url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("../assets/fonts/Inter-Bold.woff") format("woff"),
    url("../assets/fonts/Inter-Bold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Ferry", sans-serif;
  font-weight: 900;
  font-style: normal;
  src: local("Ferry"), url("../assets/fonts/ferry_black.woff2") format("woff2"),
    url("../assets/fonts/ferry_black.woff") format("woff"),
    url("../assets/fonts/ferry_black.eot") format("eot");
  font-display: swap;
}
