@use "~/node_modules/sass-rem/" as to;

.container {
  max-width: to.rem(1440px);
}

.sectionI {
  display: flex;
  justify-content: space-between;
  margin-bottom: 109px;

  &__content {
    margin-right: -20px;
    z-index: 2;
  }

  &__heading {
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  &__text {
    max-width: 520px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 70px;
  }

  &__image {
    z-index: 0;
  }
}

/*! ====================== @media 1460 ========================= */

@media (max-width: 1460px) {
  .container {
    max-width: to.rem(1200px);
  }

  .sectionI {
    &__content {
      margin-right: 0;
      z-index: 2;
      flex-shrink: 3;
    }

    &__heading {
      margin-bottom: 20px;
      white-space: pre-wrap;
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }

    &__image img {
      width: calc(629px * 0.8);
      height: auto;
    }
  }
}

/*! ====================== @media 1100 ========================= */

@media (max-width: 1100px) {
  .container {
    max-width: to.rem(900px);
  }

  .sectionI {
    &__image img {
      width: calc(629px * 0.7);
      height: auto;
    }
  }
}

/*! ====================== @media 950 ========================= */

@media (max-width: 950px) {
  .container {
    max-width: to.rem(700px);
  }

  .sectionI {
    &__image img {
      width: to.rem(347.18px);
      height: to.rem(327.31px);
    }
  }
}

/*! ====================== @media 710 ========================= */

@media (max-width: 710px) {
  .sectionI {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      max-width: 335px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      margin-bottom: 32px;
    }

    &__button {
      align-self: center;
      margin-bottom: 39px;
    }
  }
}
