@use "~/node_modules/sass-rem/" as to;

.wrapper {
  max-width: to.rem(1440px);
  height: 100%;
  margin: 0 auto;
  padding-top: to.rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: to.rem(51px 60px 118px 60px);
  background-color: #e4fbbc;
}

/*! ====================== @media 1460 ========================= */

@media (max-width: 1460px) {
  .wrapper {
    max-width: to.rem(1200px);
  }
}
