@use "~/node_modules/sass-rem/" as to;

.tariff {
  margin-right: to.rem(38px);
  width: to.rem(415px);
  height: to.rem(132px);
  background: #ffffff;
  box-shadow: to.rem(0px 0px 20px rgba(0, 0, 0, 0.2));
  border-radius: to.rem(10px);

  &__header {
    background: #000000;
    border-radius: to.rem(10px 10px 0px 0px);
    display: flex;
    box-shadow: to.rem(0px 0px 20px rgba(0, 0, 0, 0.2));
  }

  &__icon {
    align-self: center;
    margin: 0px auto;
  }

  &__text_container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: to.rem(30px 0px 34px 30px);
  }

  &__title {
    font-weight: 500;
    font-size: to.rem(30px);
    line-height: to.rem(36px);
    letter-spacing: 0.01em;
    margin-bottom: to.rem(10px);
  }

  &__subtitle {
    font-weight: 400;
    font-size: to.rem(18px);
    line-height: to.rem(22px);
    letter-spacing: 0.01em;
  }

  &__body {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: to.rem(0px 0px 10px 10px);
    box-shadow: to.rem(0px 0px 20px rgba(0, 0, 0, 0.2));
  }

  &__price_content {
    display: flex;
    flex-direction: column;
    margin: to.rem(33px 0px 59px 30px);
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: to.rem(30px);
  }

  &__amount {
    display: flex;
    flex: inline;
    margin-bottom: to.rem(10px);
  }

  &__current {
    font-weight: 500;
    font-size: to.rem(30px);
    line-height: to.rem(36px);
    letter-spacing: 0.01em;
    color: #000000;
    margin-right: to.rem(19px);
  }

  &__previous {
    font-weight: 500;
    font-size: to.rem(25px);
    line-height: to.rem(30px);
    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.5;
  }

  &__monthly {
    font-weight: 400;
    font-size: to.rem(18px);
    line-height: to.rem(22px);
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__include {
    font-weight: 700;
    font-size: to.rem(20px);
    line-height: to.rem(24px);
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: to.rem(10px);
  }

  &__item {
    font-size: to.rem(18px);
    line-height: to.rem(22px);
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: to.rem(5px);
    margin-left: to.rem(28px);
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: to.rem(-30px);
      background: url("../../../../../assets/images//landingPage/icon-yes.svg")
        no-repeat;
      width: to.rem(20px);
      height: to.rem(20px);
    }
  }

  &__button {
    align-self: center;
    margin: to.rem(55px 0px 24px 0px);
  }
}
