.carousel {
  &__slider .slick-list {
  }

  &__slide {
    width: 400px;
    height: 225px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {
    padding: 22px 0px 0px 19px;
  }
  &__text {
    margin-left: 20px;
    margin-bottom: 68px;
  }
}
