@use "~/node_modules/sass-rem/" as to;

.footer {
  background-color: #029491;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding-left: to.rem(60px);
  }

  &__content {
    padding: to.rem(25px 45px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    font-weight: 400;
    font-size: to.rem(14px);
    line-height: to.rem(17px);
    text-align: right;
    color: #ffffff;
  }

  &__copyright {
    font-weight: 400;
    font-size: to.rem(12px);
    line-height: to.rem(15px);
    text-align: right;
    color: #ffffff;
  }
}
