@use "~/node_modules/sass-rem/" as to;

.search {
  display: flex;
  justify-content: center;
  padding: to.rem(170px 0 50px 0);

  &__row {
    width: 100%;
  }

  &__wrapper {
    width: to.rem(1440px);
    height: 100%;
    margin: 0 auto;
  }

  &__col-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: to.rem(0 -12px 0 12px);
  }

  &__col-2 {
    padding-right: to.rem(20px);
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    margin: to.rem(0 -12px 0 12px);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 5%;
      right: 100%;
      width: to.rem(91px);
      height: to.rem(112px);
      background: url("../../assets/images//searchPage/document.svg") no-repeat;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 10%;
      right: 25%;
      width: to.rem(141px);
      height: to.rem(69px);
      background: url("../../assets/images//searchPage/folders.svg") no-repeat;
    }
  }

  &__title {
    margin-bottom: to.rem(25px);
  }

  &__subtitle {
    margin-bottom: to.rem(47px);
  }

  &__form {
    align-self: center;
    width: 100%;
    height: to.rem(543px);
  }
}

/*! ====================== @media 1100 ========================= */

@media (max-width: 1100px) {
  .search {
    &__title {
      font-size: calc(to.rem(40px) * 0.85);
      line-height: calc(to.rem(48px) * 0.85);
      letter-spacing: calc(to.rem(0.03em) * 0.85);
    }

    &__subtitle {
      font-size: calc(to.rem(20px) * 0.95);
      line-height: calc(to.rem(24px) * 0.95);
      letter-spacing: calc(0.02em * 0.95);
    }
  }
}

/*! ====================== @media 900 ========================= */

@media (max-width: 900px) {
  .search {
    &__title {
      font-size: calc(to.rem(40px) * 0.7);
      line-height: calc(to.rem(48px) * 0.7);
      letter-spacing: calc(0.03em * 0.7);
    }

    &__subtitle {
      font-size: calc(to.rem(20px) * 0.9);
      line-height: calc(to.rem(24px) * 0.9);
      letter-spacing: calc(0.02em * 0.9);
    }
  }
}
// ======================== Media 880 ========================

@media screen and (max-width: 880px) {
  .search {
    &__form {
      height: 100%;
    }
  }
}

/*! ====================== @media 768 ========================= */

@media (max-width: 768px) {
  .search {
    &__col-2 {
      display: flex;
      justify-content: center;

      &::before {
        top: -180%;
        right: 5%;
        width: 91px;
        height: 112px;
      }

      &::after {
        display: none;
        top: 10%;
        right: 25%;
        width: 141px;
        height: 69px;
      }
    }

    &__form {
      width: to.rem(375px);
      margin-bottom: to.rem(30px);
    }
  }
}

/*! ====================== @media 550 ========================= */

@media (max-width: 550px) {
  .search {
    padding-bottom: 0;
    &__title {
      width: to.rem(360px);
      padding-left: to.rem(50px);
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 69px;
        height: 84px;
        top: -50%;
        right: 0%;
        background: url("../../assets/images//searchPage/document_small.svg")
          no-repeat;
      }
    }

    &__subtitle {
      width: to.rem(295px);
      padding-left: to.rem(50px);
    }

    &__col-2 {
      align-items: center;
      svg {
        width: 80%;
        height: 80%;
      }
      &::before {
        top: -220%;
        right: 5%;
        width: 91px;
        height: 112px;
        background: none;
      }
    }
  }
}

/*! ====================== @media 450 ========================= */

@media (max-width: 450px) {
  .search {
    &__title {
      width: 360px;
      padding-left: 20px;
    }

    &__subtitle {
      width: 295px;
      padding-left: 20px;
    }
  }
}

/*! ====================== @media 380 ========================= */

@media (max-width: 380px) {
  .search {
    &__wrapper {
      width: to.rem(360px);
    }

    &__title {
      width: 100%;
    }

    &__form {
      width: 330px;
    }
  }
}
